@helper NothingToHelp(string content)
{
    <div class="note"
         style="border: 2px solid black; width: 90%; padding: 5px; margin-left: 15px;">
        <p>
            <strong>Nic do pomocy: </strong> @content
        </p>
    </div>
}