@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@Helper.NothingToHelp("A moze jednak?")

<div class="row">
    <div class="col-md-4">
        <h2>Modele: 35%</h2>
        <p>
            atrybuty dotyczące ograniczeń danych (własne walidatory): 15% </br>
            atrybuty dotyczące widoków: 10% </br>
            minimum 2 tabele z relacją jeden-do-wiele: 10%</br>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kontrolery: 30%</h2>
        <p>
            powiązanie uprawnień zalogowanych userów z kontrolerami (atrybuty wykorzystujące role): 10%</br>
            logowanie i przynależność do ról: 10%</br>
            LINQ: 10%</br>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Widoki: 35%</h2>
        <p>
            widoki pisane w Razor: 7%</br>
            umiejętność + przykład ręcznego rozszerzenia widoku: 7%</br>
            widoki częściowe: 7%</br>
            zastosowanie podstawowych helperów: 7%</br>
            zastosowanie layoutów: 7%</br>
        </p>
    </div>
</div>