@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kamil Liwiński<br />
    <a href="https://github.com/panUFO"> https://github.com/panUFO </a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kliwinski93@gmail.com">kliwinski93@gmail.com</a><br />
</address>